@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer components {
  label {
    @apply text-sm font-medium;
  }

  input[data-auth] {
    @apply bg-white-900 outline outline-1 outline-grey-800 h-12 rounded px-4 text-grey font-medium text-base focus:outline-none focus:ring-primary-900 focus:ring-offset-white focus:ring-2 focus:ring-offset-2 transition-all duration-300;
  }
}

.truncated-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncated-body {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

[contenteditable] {
  outline: 0px solid transparent;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: #b3b3b3;
}
